<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="mantis" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.11.0.v20140307-0034"/>
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="3.11.0.v20140307-0034"/>
<unit id="org.eclipse.mylyn.commons.soap_feature.feature.group" version="3.11.0.v20131219-1119"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.11.0.v20131021-1909"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="2.0.0.v20140303-2119"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.11.0.v20140304-2222"/>
<repository location="http://archive.eclipse.org/mylyn/drops/3.11.0/v20140314-2044"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.collect" version="1.0.0.v201105210816"/>
<unit id="com.google.inject" version="2.0.0.v201105231817"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.1.0.v201103311320"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.0.v20191122-2104"/>
<unit id="org.eclipse.platform.ide" version="4.14.0.I20191210-0610"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.14/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
